.imagen{

    display: block;
    padding-top: 30px;
      margin: auto;
  
  }
  
   img{
      height: 200px;
      width: 160px;
      display: block;
      margin: auto;
  
  }

  @media screen and (max-width:800px)
  {
    .imagen{
        padding-top: 90px;
        
        
    }
    .imagen img{
       width: 100px;
       height: 130px;
        
        
    }
  }