/*====lista de usuarios===*/
.tablas{
    width: 90%;
    max-width: 1000px;
   
    margin: auto;
 
    padding: 1%;
    box-shadow: 3px 5px 50px 6px rgba(255, 255, 255, 0.3);
    
    border: 1px solid rgba(255, 255, 255, 0.2);
    
    position: relative;
    
    overflow: scroll;
    background: rgba(8, 8, 8, 0.473);
    box-sizing: border-box;
    border-radius: 15px;
    height: auto;

}
table{
    border-collapse: collapse;
    
    font-family: arial;
    width: 95%;
    max-width: 1000px;
     background: rgba(171, 248, 240, 0.6);

     margin: auto;
}
table th{
    text-align: center;
    padding: 10px;
    background: #037E8C;
    color: #fff;
    position: relative;
    font-size: 17px;
}
table tr:nth-child(odd){
    background: rgba(124, 189, 243, 0.452);
}
table td{
    position: relative;
    padding: 10px;
    font-size: 17px;
}
.lick_add{
    color:#0ca4ce;
}
.link_delete{
    color:#ff0000;
}

@media screen and (max-width:800px){

    table th{
        text-align: center;
        padding: 8px;
        background: #037E8C;
        color: #fff;
        position: relative;
        font-size: 14px;
    }
    table td{
        padding: 8px;
        font-size: 12px;
    }
    
    }