*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
body{
    background: url(../img/img.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header{
    height: auto;
    width: 100%;
  
}
@import "imagen";

@import "menu";
 

@import "formularios";

@import "alerta";



@import "listaUsuarios";


@import "eliminarUsuario";


@import "cabezera";







    
    
































